---
title: Authors
---

h1. Authors

h3. José Luis Millán

<%= my_lib_gravatar "jmillan@aliax.net" %>
<%= link_to "Email", "mailto:jmillan@aliax.net" %> | <%= link_to "Github profile", "https://github.com/jmillan" %> | <%= link_to "Twitter", "https://twitter.com/jomivi" %>

Main Author. Core Designer and Developer.


h3. Iñaki Baz Castillo

<%= my_lib_gravatar "ibc@aliax.net" %>
<%= link_to "Email", "mailto:ibc@aliax.net" %> | <%= link_to "Github profile", "https://github.com/ibc" %> | <%= link_to "Twitter", "https://twitter.com/ibc_tw" %>

Core Designer and Developer.


h3. Saúl Ibarra Corretgé

<%= my_lib_gravatar "saghul@gmail.com" %>
<%= link_to "Email", "mailto:saghul@gmail.com" %> |  <%= link_to "Github profile", "https://github.com/saghul" %> | <%= link_to "Twitter", "https://twitter.com/saghul" %>

Core Designer.
