---
title: Documentation
---

h1. Documentation

* <%= my_lib_link_to "documentation/0.7.x" %>
* <%= my_lib_link_to "documentation/0.6.x" %>
* <%= my_lib_link_to "documentation/0.5.x" %>
* <%= my_lib_link_to "documentation/0.4.x" %>
* <%= my_lib_link_to "documentation/0.3.x" %>
* <%= my_lib_link_to "documentation/0.2.x" %>
* <%= my_lib_link_to "documentation/versions_and_compatibility" %>
* <%= link_to "Changelog", "https://github.com/versatica/JsSIP/blob/master/CHANGELOG.md" %>


h2. Miscellaneous

* <%= my_lib_link_to "documentation/misc/interoperability" %>
* <%= my_lib_link_to "documentation/misc/sip_websocket" %>
* <%= my_lib_link_to "documentation/misc/webrtc" %>
* The <%= link_to "Real-Time Communications Quickstart Guide", "http://rtcquickstart.org" %> (free online and ebook) provides a comprehensive explanation of all the issues involved in successful RTC deployments, including DNS, firewalls, TLS, user databases and authentication, server-side processes, softphones and WebRTC setup.


h2. Frequently Asked Questions

* <%= my_lib_link_to "documentation/faq" %>
